.App {
  text-align: center;
  background-color: #282c34;
}

.App-banner {
  width: 100%;
  /* height: 30vh; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 1.5%;
}

.App-body {
  width: 100%;
  height: calc(100vh - 1.5% - 1.5%);
  font-size: calc(10px + 1.2vmin);
  font-family: SF Pro Display;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2%;
}

.App-name {
  font-family: SF Pro Display;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c3433;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
